{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
	<title>Placeholder</title>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/localforage.min.js" }}"></script>
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/whosonfirst.uri.js" }}"></script>
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/whosonfirst.net.js" }}"></script>
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/whosonfirst.geojson.js" }}"></script>		
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/placeholder.client.maps.js" }}"></script>
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/placeholder.client.results.js" }}"></script>
	<script type="text/javascript" src="{{ Join .StaticPrefix "/javascript/placeholder.client.init.js" }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ Join .StaticPrefix "/css/placeholder.client.css" }}" />
    </head>
    <body>
	<div class="container" id="placeholder" data-url-prefix="{{ .StaticPrefix }}" {{ if .EnableReadyCheck }}data-enable-ready-check="{{ .EnableReadyCheck }}" data-ready-check-url="{{ Join .StaticPrefix .ReadyCheckURL }}"{{ end }}>

	    <nav class="navbar navbar-expand-lg navbar-light bg-light-x">
		<div class="container-fluid">
		    <a class="navbar-brand" href="#">Placeholder</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="d-flex">
			    <input class="form-control me-2" type="search" name="text" id="text" placeholder="Search for a location" aria-label="Search" value="{{ .Query }}" />
			    {{ if .EnableReadyCheck }}
			    <button class="btn btn-outline-success" type="submit" id="search-button" disabled>Loading...</button>
			    {{ else }}
			    <button class="btn btn-outline-success" type="submit" id="search-button">Search</button>
			    {{ end }}
			</form>
		    </div>
		</div>
	    </nav>
{{ end }}
