{{ define "header" }}
<html>
    <head>
	<title></title>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/localforage.min.js" }}"></script>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/whosonfirst.uri.js" }}"></script>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/whosonfirst.net.js" }}"></script>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/whosonfirst.geojson.js" }}"></script>		
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/placeholder.client.maps.js" }}"></script>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/placeholder.client.results.js" }}"></script>
	<script type="text/javascript" src="{{ Join .URLPrefix "/javascript/placeholder.client.init.js" }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ Join .URLPrefix "/css/placeholder.client.css" }}" />
    </head>
    <body data-url-prefix="{{ .URLPrefix }}" {{ if .IsAPIGateway }}data-is-api-gateway="1"{{ end }}>
	<div class="container">

	    <nav class="navbar navbar-light">

		<a class="navbar-brand">Placeholder</a>

		<form class="form-inline">
		    <input class="form-control mr-sm-2" type="search" name="text" id="text" placeholder="Enter a place name to search for" value="{{ .Query }}" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		
	    </nav>
	
{{ end }}
